body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

button {
  align-items: center;
  background: #F9F9F9;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 0px 10px;
  margin: 0px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

p {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

td,
th {
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
}

thead th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 600;
}

tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}